<div class="container p-20 flex-auto text-sky-900 text-center animate-text-focus-in">
  <div>
    <div class="text-3xl font-semibold m-1">ミニシアターめぐりませんか？</div>
    <div class="text-1xl font-semibold">全国のミニシアター検索サイト</div>
  </div>
  <!-- 検索フォーム -->
  <div>
  </div>
  <!-- 地図 -->
  <!-- ミニシアターとは -->
</div>
