<h1>あああああ<h2>
<section class="text-sky-900">
  <div class="container mx-auto flex py-20 md:flex-row flex-col items-center">
    <div>
      <h1 class="sm:text-4xl text-3xl mb-4">あああああ<br>
      あああああ
      </h1>
      <h1>ミニシアター</h1>
    </div>
  </div>
</section>
<button class="btn btn-outline">Button</button>
<button class="btn btn-outline btn-primary">Button</button>
<button class="btn btn-outline btn-secondary">Button</button>
<button class="btn btn-outline btn-accent">Button</button>
