<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>

<button class="btn btn-outline">Button</button>
<button class="btn btn-outline btn-primary">Button</button>
<button class="btn btn-outline btn-secondary">Button</button>
<button class="btn btn-outline btn-accent">Button</button>
