<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light" id="mainNav">
    <div class="container px-lg-5 mt-1">
      <div class="space-x-4 justify-start">
        <%= link_to image_tag('logo.png'), root_path, class: 'logo' %>
      </div>
    </div>
    <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <nav class="md:ml-auto flex flex-wrap items-center">
        <div class="mr-5 text-gray-500 hover:text-indigo-500 active:text-indigo-700 transition duration-100">
          <%= link_to 'シアター一覧', theaters_path %>
        </div>
        <div class="mr-5 text-gray-500 hover:text-indigo-500 active:text-indigo-600 transition duration-100">
          <%= link_to '新規登録', '#' %>
        </div>
        <div class="mr-5 text-gray-500 hover:text-indigo-500 active:text-indigo-600 transition duration-100">
          <%= link_to 'ログイン', '#' %>
        </div>
      </nav>
    </div>
  </nav>
</div>
