<div class="fixed top-0 w-screen z-50 text-sky-900">
  <div class="container mx-auto flex flex-wrap p-5 sm:flex-row items-center">
    <div class="flex space-x-4 justify-start">
      <%= link_to "ミニシアター巡り", root_path %>
    </div>
  </div>
</div>
