.card {
  background-color: #fff;
  text-decoration: none;
  margin: 1rem auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.card__header {
  color: #1E2C5C;
  font-size: 1rem;
  font-weight: 700;
  flex-wrap: wrap;
}

.card__text {
  color: gray
}

.card-actions {
  color: #1E2C5C;
}
